<td>0101010</td>
<td>John Smith</td>
<td>10/20/2020</td>
<td>&#8369; 520.00</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary rounded-pill dropdown-toggle order-status-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Processing
    </button>
    <div class="dropdown-menu" id="order-status" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Payment Received</a>
      <a class="dropdown-item" href="#">Shipped</a>
      <a class="dropdown-item" href="#">Delivered</a>
    </div>
  </div>
</td>
<td>
  <i class="fa fa-angle-down" aria-hidden="true" style="font-size: 24px;" onclick="showHideDetails('hidden-row1');"></i>
</td>