<br>
<div class="row cart-item-div">
  <div class="col-sm-3 cart-image">
    <img src="./img/black-shorts.jpg" height="100px">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col">
        <p>Black Regular Shorts</p>
        <p>Small</p>
      </div>
      <div class="col">
        <p>Qty. 1</p>
      </div>
      <div class="col">
        <p>&#8369; 350.00</p>
        <div class="text-right">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>