<th class="checkout-img-name">
  <img src="./img/black-shorts.jpg" width="150px">
  <p>Black Regular Shorts</p>
  <p class="text-danger"><span class="checkout-out-of-stock border border-danger">Out of Stock</span></p>
</th>
<th>Medium</th>
<th>₱ 350.00</th>
<th>1</th>
<th>
  <h1>X</h1>
</th>