<div class="catalogue-drop" id="drop-div">
  <img src="./img/banner.jpg" width="350px">
  <!-- Item Information -->
  <div class="item-information-div">
      <div class="row">
        <div class="col-sm-8">
          <h4>Flamingo Shorter Shorts</h4>
        </div>
        <div class="col-sm-3 text-right">
          <h4>₱ 350.00</h4>
        </div>
      </div>
      <hr class="white-line">
      <p>100% cotton. Stylish. Confortable. 100% Filipino Made</p>
      <hr class="white-line">
      <div class="size-chart-div text-center">
        <h6>Size Chart</h6>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="item-information-btn">
        <label class="size" id="small" for="small">S</label>
        <input type="radio" name="size" id="small" value="small" class="select-size-btn">
        <label class="size" id="medium" for="medium">M</label>
        <input type="radio" name="size" id="medium" value="medium" class="select-size-btn">
        <label class="size" id="large" for="large">L</label>
        <input type="radio" name="size" id="large" value="large" class="select-size-btn">
        <label class="size" id="x-large" for="x-large">XL</label>
        <input type="radio" name="size" id="x-large" value="x-large" class="select-size-btn">
        <button class="btn rounded-pill add-to-cart-btn">Add to Cart</button>
      </div>
  </div>
  <!-- End -->
</div>