<div class="row">
  <div class="col-lg-3 col-sm-6">
    <button class="apparel-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./img/flamingo-shorts.jpg" height="200px">
      <p class="apparel-title">Flamingo Shorter Shorts</p>
      <p>₱350.00</p>
    </button>
    {{>display-catalogue-dropdown}}
  </div>

  <div class="col-lg-3 col-sm-6">
    <button class="apparel-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./img/black-shorts.jpg" height="200px">
      <p class="apparel-title">Black Regular Shorts</p>
      <p>₱350.00</p>
    </button>
    {{>display-catalogue-dropdown}}
  </div>

  <div class="col-lg-3 col-sm-6">
    <button class="apparel-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./img/flamingo-shorts.jpg" height="200px">
      <p class="apparel-title">Flamingo Shorter Shorts</p>
      <p>₱350.00</p>
    </button>
    {{>display-catalogue-dropdown}}
  </div>

  <div class="col-lg-3 col-sm-6">
    <button class="apparel-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./img/black-shorts.jpg" height="200px">
      <p class="apparel-title">Black Regular Shorts</p>
      <p>₱350.00</p>
    </button>
    {{>display-catalogue-dropdown}}
  </div>

</div>