<div class="row" id="apparel-card-row">
  <label class="apparel-card-div col-lg-3 col-sm-6">
    <button class="apparel-card" type="button">
      <img src="./img/flamingo-shorts.jpg" height="200px">
      <p class="apparel-title">Flamingo Shorter Shorts</p>
      <p>₱ 350.00</p>
    </button>
  </label>
  <input type="radio" name="apparel-item" id="apparel-item" value="apparel-item" class="trigger-apparel-dropdown">

  <label class="apparel-card-div col-lg-3 col-sm-6">
    <button class="apparel-card" type="button">
      <img src="./img/black-shorts.jpg" height="200px">
      <p class="apparel-title">Black Regular Shorts</p>
      <p>₱ 350.00</p>
    </button>
  </label>
  <input type="radio" name="apparel-item" id="apparel-item" value="apparel-item" class="trigger-apparel-dropdown">

  <label class="apparel-card-div col-lg-3 col-sm-6">
    <button class="apparel-card" type="button">
      <img src="./img/flamingo-shorts.jpg" height="200px">
      <p class="apparel-title">Flamingo Shorter Shorts</p>
      <p>₱ 350.00</p>
    </button>
  </label>
  <input type="radio" name="apparel-item" id="apparel-item" value="apparel-item" class="trigger-apparel-dropdown">

  <label class="apparel-card-div col-lg-3 col-sm-6">
    <button class="apparel-card" type="button">
      <img src="./img/black-shorts.jpg" height="200px">
      <p class="apparel-title">Black Regular Shorts</p>
      <p>₱ 350.00</p>
    </button>
  </label>
  <input type="radio" name="apparel-item" id="apparel-item" value="apparel-item" class="trigger-apparel-dropdown">
</div>

