<footer class = "footer-section">
  <br><br>
  <div class="row">
    <div class="col-sm social-media-section">
      <p class="follow-title">Follow Us</p>
      <div class="social-media-icons-group">
        <a href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <br>
      <p class="copyright">Copyright &copy; 2020, The Jowables</p>
    </div>
    <div class="col-sm">
      <img src="./img/company-logo-horizontal-crop.png" height="70px">
    </div>
    <div class="col-sm contact-section text-right">
      <ul>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">FAQs</a>
        </li>
      </ul>
    </div>
  </div>
</footer>