<footer class = "footer-section">
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm social-media-section">
        <h4 class="follow-title">Follow Us</h4>
        <br>
        <div class="social-media-icons-group">
          <a href="http://www.facebook.com/SalawalCo">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="http://www.instagram.com/SalawalCo">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
        <br>
        <p class="copyright">Copyright &copy; 2020, The Jowables</p>
      </div>
      <div class="col-sm">
        <img src="../img/company-logo-horizontal-crop.png" height="90px">
      </div>
      <div class="col-sm contact-section text-right">
        <ul>
          <li>
            <a href="/contact">
            <h5>Contact Us</h5>
            </a>
          </li>
          <li>
            <a href="/about">
            <h5>About Us</h5>
            </a>
          </li>
          <li>
            <a href="/faq">
            <h5>FAQs</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
