<div class="container">
  <table class="table text-left table-borderless" id="hidden-dropdown">
    <thead>
      <th scope="col">Product</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </thead>
    <tbody>
      <tr>
          <td class="d-flex checkout-img-name">
            <img src="../img/black-shorts.jpg" width="150px">
            <p>Black Regular Shorts</p>
          </td>
          <td>Medium</td>
          <td>₱ 350.00</td>
          <td>1</td>
      </tr>
      <tr>
          <td class="d-flex checkout-img-name">
            <img src="../img/black-shorts.jpg" width="150px">
            <p>Black Regular Shorts</p>
          </td>
          <td>Medium</td>
          <td>₱ 350.00</td>
          <td>1</td>
      </tr>
      <tr>
          <td class="d-flex checkout-img-name">
            <img src="../img/black-shorts.jpg" width="150px">
            <p>Black Regular Shorts</p>
          </td>
          <td>Medium</td>
          <td>₱ 350.00</td>
          <td>1</td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="row">
      <div class="col-8 text-left">
        <button class="btn cancel-btn rounded-pill">Cancel</button>
      </div>
      <div class="col-4 text-right">
        <div class="row">
          <div class="col">Total</div>
          <div class="col">₱ 1,250.00</div>
        </div>
        <div class="row">
          <div class="col">Promo</div>
          <div class="col">-50</div>
        </div>
        <div class="row">
          <div class="col">Shipping Fee</div>
          <div class="col">+50</div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Total Amount</h4>
          </div>
          <div class="col">
            <h4>₱ 1,250.00</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>