<div class="container justify-content-center text-center">
  {{#if error_msg}}
  <br>
  <div class="row" id="error-msg-div">
    <h6 class="text-center" id="error-msg">
      <strong><span class="text-danger">Error: </span>{{error_msg}}</strong>
      </h6>
  </div>
  {{/if}}

  {{#if success_msg}}
  <br>
  <div class="row" id="success-msg-div">
    <h6 class="text-center" id="success-div">
      <strong><span class="text-success">Success: </span>{{success_msg}}</strong>
      </h6>
  </div>
  {{/if}}
</div>