<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <!-- Left Navbar Items -->
        <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="/admin/update-products">Update Products</a>
        </li>
      </ul><!-- End -->

      <!-- Center Navbar Items -->
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="/img/company-logo-horizontal-crop.png" height="70px">
          </a>
        </li>
      </ul><!-- End -->

      <!-- Right Navbar Items -->
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin/summary-of-all-orders">Summary of All Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/profile">
            <i class="fa fa-user-circle-o fa-lg"></i>
          </a>
        </li>
      </ul><!-- End -->

      </div>
</nav>
