<div class="row" id="product-card-row">
  {{#if products}}
  {{#each products}}
  <label class="apparel-card-div col-lg-3 col-sm-6">
    <div class="apparel-card">
      <img src=".{{img}}" height="200px">
      <p class="apparel-title">{{name}}</p>
      <p>{{price}}</p>
      <div class ='row'>
        <div class = 'col-sm-6 text-center'>
          <button class ='btn' type= 'button' data-toggle="modal" data-target="#editModal">
          <i class="fa fa-edit fa-2x fa-search"></i>
          </button>
        </div>
        <div class = 'col-sm-6 text-center'>
          <button class ='btn' type= 'button' data-toggle="modal" data-target="#removeModal">
          <i class="fa fa-remove fa-2x fa-search"></i>
          </button>
        </div>
      </div>
      </div>
  </label>
  {{/each}}
  {{/if}}
</div>
  
<!-- Modal -->

<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header profile-modal">
        <h4 class="modal-title">Edit Product</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body profile-modal text-left">
        <table>
          <tr>
            <th>
              Name
            </th>
            <td>
              <input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "editname" placeholder = "Flamingo Shorter Shorts">
            </td>
          </tr>
          <tr>
            <th>
              Price
            </th>
            <td>
              <input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "editprice" placeholder = "350.00">
            </td>
          </tr>
          <tr>
            <th>
              Category
            </th>
            <td>
              <input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "editcat" placeholder = "Shorts">
            </td>
          </tr>
          <tr>
            <th>
              Style
            </th>
            <td>
              <input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "editflam" placeholder = "Flamingo">
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <th>              
              Stock:
            </th>
            <th>
              S
            </th>
            <td>
              <input type="text" class="profile-size form-rounded rounded-pill border-white login-input" id = "edits" placeholder = "00">
            </td>
            <th>              
              M
            </th>
            <td>
              <input type="text" class="profile-size form-rounded rounded-pill border-white login-input" id = "editm" placeholder = "00">
            </td>
            <th>
              L
            </th>
            <td>
              <input type="text" class="profile-size form-rounded rounded-pill border-white login-input" id = "editl" placeholder = "00">
            </td>
            <th>
              XL
            </th>
            <td>
              <input type="text" class="profile-size form-rounded rounded-pill border-white login-input" id = "editxl" placeholder = "00">
            </td>
          </tr>
        </table>
        
        <br>
        <div class = "form-group">
          <b>Description</b>
          <br>
          <textarea class = "form-control" rows="3" id="description"></textarea>
        </div>
        <br>

        <b>Image:</b>
        <button type="button" class="btn btn-dark rounded-pill login-btn">Upload</button>
      </div>
      <div class="modal-footer profile-modal-footer">
        <button type="button" class="btn btn-dark rounded-pill login-btn mr-auto" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-dark rounded-pill login-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="removeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header profile-modal">
        <h4 class="modal-title">Confirm Remove</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body profile-modal">
        <p>Do you want to remove the item?</p>
      </div>
      <div class="modal-footer profile-modal">
        <button type="button" class="btn btn-dark rounded-pill login-btn mr-auto" data-dismiss="modal">confirm</button>
        <button type="button" class="btn btn-dark rounded-pill login-btn" data-dismiss="modal">return</button>
      </div>
    </div>
  </div>
</div>