<div>
  <br><br>
  <div class = 'au-bigtext au-center'>{{title}}</div>

  <br><br>

  <div class = 'container faq-view'>
    {{#each paras}}
      <div  class = 'au-bigtext au-left'>{{this.title}}</div>
      <br>
      <div  class = 'au-smtext'>{{this.desc}}</div>
      <br><br><br><br>
    {{/each}}
  </div>

  <br><br><br><br><br>
</div>
