<div>
  <br><br>
  <div class = 'au-bigtext au-center'>{{title}}</div>

  <br>

  <div class = 'container'>
    <div  class = 'au-bigtext au-left'>The Salawal Story</div>
    <br>
    <div  class = 'au-smtext'>{{story}}</div>
  </div>

  <br><br><br><br><br>

  <div class = 'container'>
    <div  class = 'au-bigtext au-left'>About</div>
    <br>
    <div  class = 'au-smtext'>{{about}}</div>
  </div>
  <br><br><br><br>
</div>
