<div class="contact-section-page">
  <br><br>

  <div class = "cont-header">
    Contact Us
  </div>

  <br><br>

  <!-- Contacts -->

  <div class = "cont-group">
    <img src = "./img/phone-ringing.png" height = "110px" class = "cont-left-img">
    <img src = "./img/social-media.png" height = "110px" class = "cont-mid-img">
    <img src = "./img/email.png" height = "110px" class = "cont-right-img">
  </div>
  <br>
  <div class = "cont-group">
  <div class = "cont-bigtext cont-left">Contact Number</div>
  <div class = "cont-bigtext cont-center">Social Media</div>
  <div class = "cont-bigtext cont-right">Email</div>
  </div>
  <br>
  <div class = "cont-group">
  <div class = "cont-smtext cont-left2">{{phonenum}}</div>
  <div class = "cont-medtext cont-center2">Facebook</div>
  <div class = "cont-smtext cont-right2">{{email}}</div>
  </div>
  <div class = "cont-calign"><a href = 'http://www.facebook.com/SalawalCo' class = 'cont-smtext'>{{fblink}}</a></div>
  <br>
  <div class = "cont-medtext cont-calign">Instagram</div>
  <div class = "cont-calign"><a href = 'http://www.instagram.com/SalawalCo' class = 'cont-smtext cont-calign'>{{iglink}}</a></div>
  <br><br><br>
</div>
