<br><br>
<div class = "edit-title">
  Edit Pages > FAQ
</div>

<br>
<div class = "edit-category">
  Question
</div>
<input type="text" class="form-rounded rounded-pill border-white edit-titlebox" id = "edit-q">

<br> <br>
<div class = "edit-category">
  Answer
</div>
<textarea rows=10 class="border-white edit-contentbox" id = "edit-ans"></textarea>

<br><br>
<button type="button" class="btn btn-dark rounded-pill edit-btn">Add</button>
<br><br><br><br>
