<div class = "faq-view">
  <br><br>
  <div class = "edit-title">
    Edit Pages > About Us
  </div>

  <br>
  <div class = "edit-category">
    Title
  </div>
  <input type="text" class="form-rounded rounded-pill border-white edit-titlebox" id = "edit-title">

  <br> <br>
  <div class = "edit-category">
    Content
  </div>
  <textarea rows=10 class="border-white edit-contentbox" id = "edit-content"></textarea>

  <br><br>
  <button type="button" class="btn btn-dark rounded-pill edit-btn">Save</button>
  <br><br><br><br>
</div>
