<br><br>
<div class = "edit-title">
  Edit Pages > Contact Us
</div>

<br><br>
<div class = "edit-category">
  Facebook Link
</div>
<input type="text" class="form-rounded rounded-pill border-white edit-smbox" id = "edit-fb">

<br><br>
<div class = "edit-category">
  Instagram Link
</div>
<input type="text" class="form-rounded rounded-pill border-white edit-smbox" id = "edit-ig">

<br><br>
<div class = "edit-category">
  Twitter Link
</div>
<input type="text" class="form-rounded rounded-pill border-white edit-smbox" id = "edit-tw">

<br><br>
<div class = "edit-category">
  Email Address
</div>
<input type="text" class="form-rounded rounded-pill border-white edit-smbox" id = "edit-email">

<br><br>
<div class = "edit-category">
  Contact Number
</div>
<input type="text" class="form-rounded rounded-pill border-white edit-smbox" id = "edit-num">

<br><br><br><br>
<button type="button" class="btn btn-dark rounded-pill edit-btn">Save</button>
<br><br><br><br>
