<br><br>

<div class = "faq-header">
  Frequently Asked Questions (FAQ)
</div>

<br><br>

<!-- Questions -->
<!-- FAQ1 -->
<div class = "faq-group">
 <div class = "faq-qa">Q. &nbsp</div>
 <div class = "faq-question">What is this question?</div>
</div>
<div class = "faq-group">
 <div class = "faq-qa">A. &nbsp</div>
 <div class = "faq-body">
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
 </div>
</div>
<br><br>

<!-- FAQ1 -->
<div class = "faq-group">
 <div class = "faq-qa">Q. &nbsp</div>
 <div class = "faq-question">What is this question?</div>
</div>
<div class = "faq-group">
 <div class = "faq-qa">A. &nbsp</div>
 <div class = "faq-body">
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
 </div>
</div>
<br><br>

<!-- FAQ1 -->
<div class = "faq-group">
 <div class = "faq-qa">Q. &nbsp</div>
 <div class = "faq-question">What is this question?</div>
</div>
<div class = "faq-group">
 <div class = "faq-qa">A. &nbsp</div>
 <div class = "faq-body">
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
   Lorem ipsum something somthing something.
 </div>
</div>
<br><br>
