<div class="container-fluid">
  <br><br>

  <div class = "faq-header">
    Frequently Asked Questions (FAQ)
  </div>

  <br><br><br>

  <!-- FAQ -->
  <div class="container">
    {{#each questions}}
    <div>
      <div class = "row">
       <div class = "col-lg-2 faq-qa cont-right">Q. &nbsp</div>
       <div class = "col-lg-10 faq-question">{{this.question}} </div>
      </div>
      <div class = "row">
       <div class = "col-lg-2 faq-qa cont-right">A. &nbsp</div>
       <div class = "col-lg-10 faq-body">
         {{this.answer}}
       </div>
      </div>
    </div>
    <br><br>
    {{/each}}
  </div>
  <br><br><br><br><br><br><br><br>
</div>
