<div class="container-fluid">
  <br><br>

  <div class = "faq-header">
    Frequently Asked Questions (FAQ)
  </div>

  <br><br><br>

  <!-- FAQ -->
  <div class="faq-view">
    {{#each questions}}
      <div class = "faq-group">
       <div class = "faq-qa">Q. &nbsp</div>
       <div class = "faq-question">{{this.question}} </div>
      </div>
      <div class = "faq-group">
       <div class = "faq-qa">A. &nbsp</div>
       <div class = "faq-body">
         {{this.answer}}
       </div>
      </div>
      <br><br>
    {{/each}}
  </div>
  <br><br><br><br><br><br><br><br>
</div>
