<br><br>
<!-- Header -->
<header class="masthead-section text-center">
  <div class="masthead-banner">
    <img src="img/masthead-banner.png">
  </div>
  <br>
  <div class="btn-masthead">
    <button class="btn rounded-pill">Start Shopping</button>
  </div>
</header><!-- End -->

<br><br><br>

<!-- Features --> 
<section class="features-section text-center">
  <h4 class="features-title">Our Styles</h4>
  <br>
  <div class="row">
    <div class="col-sm">
      <img src="img/banner.jpg" width="400px">
    </div>
    <div class="col-sm">
      <img src="img/banner.jpg" width="400px">
    </div>
    <div class="col-sm">
      <img src="img/banner.jpg" width="400px">
    </div>
  </div>
  <br>
  <div class="btn-features">
    <button class="btn rounded-pill">View Products</button>
  </div>
</section><!-- End -->

<br><br><br>