<br><br>

<div class = "row">
  <div class = "column login-col">
    <br><br><br>
    <div class = "login-bigtext">Login</div>
    <br>
    <div class = "login-smtext">Email</div> <br>
    <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "log-email">
    <br><br>
    <div class = "login-smtext">Password</div> <br>
    <input type="password" class="login-form form-rounded rounded-pill border-white login-input" id = "log-pass">
    <br><br>
    <a href="/profile" type="button" class="btn btn-dark rounded-pill login-btn">Sign In</a>
  </div>
  <div class = "column login-col">
    <div class = "login-bigtext">Create Account</div>
    <br>
    <div class = "login-smtext">Full Name</div> <br>
    <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-fn">
    <br><br>
    <div class = "login-smtext">Username</div> <br>
    <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-un">
    <br><br>
    <div class = "login-smtext">Email</div> <br>
    <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-email">
    <br><br>
    <div class = "login-smtext">Password</div> <br>
    <input type="password" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-pass">
    <br><br>
    <div class = "login-smtext">Confirm Password</div> <br>
    <input type="password" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-cpass">
    <br><br>
    <a href="/profile" type="button" class="btn btn-dark rounded-pill login-btn">Create</a>
  </div>
</div>


<br><br><br><br><br><br><br><br>
