<br><br>
<div class = "row">

  <!-- LOGIN -->
  <div class = "column login-col">
    <br><br><br>
    <div class = "login-bigtext">Login</div>
    <br>
    <div class = "login-smtext">Email</div> <br>
    <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "log-email">
    <br><br>
    <div class = "login-smtext">Password</div> <br>
    <input type="password" class="login-form form-rounded rounded-pill border-white login-input" id = "log-pass">
    <br><br>
    <button class="btn btn-dark rounded-pill login-btn" id="log-btn">Sign In</button>
  </div>
  <!-- END -->

  <!-- REGISTER -->
  <div class = "column login-col">
    <div class = "login-bigtext">Create Account</div>
    <br>
    <form action="/new_user_registration" method="POST">
      <div class = "login-smtext">Full Name</div> <br>
      <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-fn fullname">
      <br><br>
      <div class = "login-smtext">Username</div> <br>
      <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-un username">
      <br><br>
      <div class = "login-smtext">Email</div> <br>
      <input type="text" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-email email">
      <br><br>
      <div class = "login-smtext">Password</div> <br>
      <input type="password" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-pass password">
      <br><br>
      <div class = "login-smtext">Confirm Password</div> <br>
      <input type="password" class="login-form form-rounded rounded-pill border-white login-input" id = "reg-cpass confirm-password">
      <br><br>
      <button class="btn btn-dark rounded-pill login-btn" id="reg-btn">Create</button>
    </form>
  </div>
  <!-- END -->

</div>


<br><br><br><br><br><br><br><br>
