<div class="container" id="profile-admin">
  <div class="row">
    <div class="col">
      <div class="title">
        <h4>Logged In As: <span><strong>admin</strong></span></h4>
        <h4>Date Joined: 23/1/2021</h4>
      </div>
      <br>
      {{>messages}}
      <div class="admin-edit-details-div">
        <h4>Edit Account Details</h4>
        <br>
        <form action="/admin/edit-admin-email/{{id}}" method="POST">
          <div class="form-group">
            <label for="adminemail"><h5>Email address</h5></label>
            <input type="email" class="form-control rounded-pill" id="adminemail" name="adminemail" placeholder="Enter new email address">
          </div>
          <button type="submit" class="btn logout-btn rounded-pill">
            <strong>Submit</strong>
          </button>
        </form>
        <br>
        <form action="/admin/edit-admin-password/{{id}}" method="POST">
          <div class="form-group">
            <label for="adminpass"><h5>Password</h5></label>
            <input type="password" class="form-control rounded-pill" id="adminpass" name="adminpass" placeholder="Enter new password">
          </div>
          <button type="submit" class="btn logout-btn rounded-pill">
            <strong>Submit</strong>
          </button>
        </form>
      </div>
    </div>
    <div class="col text-right">
      <a href="/admin/logout-admin" type="button" class="btn logout-btn rounded-pill">
        <strong>Logout</strong>
      </a>
    </div>
  </div>
</div>