<br><br>
    <h4 class = "text-indent">{{title}}</h4>
<section class="catalogue-section">
    <div class="row">
        <div class="catalogue-sidebar col-sm-3">
            <h5>Categories</h5>
            <ul class="list-group-flush w-75">
                <li class="list-group-item">
                    <a href="#">All Items</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Shorts</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Shorter Shorts</a>
                </li>
            </ul>
            <br><br>
            <h5>Filter By</h5>
            <ul class="list-group-flush w-75">
                <li class="list-group-item">
                    <a href="#">No Filter</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Size: Small</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Size: Medium</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Size: Large</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Size: X-Large</a>
                </li>
            </ul>
        </div>
        <div class="display-catalogue-div col-sm-8 text-center">
            {{>product-display}}
            {{>product-display}}
            {{>product-display}}
            <br>
            <button type="button" class="btn btn-dark rounded-pill login-btn">Add Product</button>
        </div>
    </div>
</section>
